layout {
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane {
                name "terminal"
            }
            pane {
                name "build"
                command "task"
                args "build_watch"
            }
        }
        pane split_direction="horizontal" {
            pane {
                name "playbypost-server"
                command "task"
                args "playbypost-we-run"
                start_suspended true
                close_on_exit true
            }
            pane {
                name "plugin: task discord-we-run or task slack-we-run"
            }
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
