header {
    background-color: #FFF8CD;
    color: #646464;
    padding: 10px;
    border-radius: 12px;
}

header h1 {
    margin: 0;
}

header nav {
    text-align: left;
}

header nav a {
    margin: 0 10px;
    color: #646464;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

header nav a:hover {
    color: #FF9642;
}

#content {
    padding: 20px;
    color: #646464;
}

.main-header h1 {
    text-align: left;
}

.button {
    background-color: #FFF8CD; 
    border: none;
    color: #646464;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    float: inline-end;
    display: display-outside;
    font-size: 12px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.create {
    border-radius: 12px;
    align-content: end;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.create:hover {
    color: #FF9642;
}

.full {
    align-self: center;
    font-size: 18px;
    position: absolute;
}

/* .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
} */

.button:hover {
    background-color: #FFE05D;
}

/* .swal-button-confirm{
    
} */

button.swal2-styled.swal2-confirm {
    font-size: 12px;
    font-weight: bold;
    background-color: #FFF8CD;
    color: #646464;
}

button.swal2-styled.swal2-confirm:hover {
    color: #FF9642;
    background-color: #FFE05D;
}
  
table {
    width: 100%;
    text-align: left;
}

table td, table th {
    border: 1px solid #FFE05D;
    padding: 8px;
  }
  
table tr:nth-child(even){background-color: #FFE05D;}

table tr:hover {background-color: #FF9642;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #646464;
  color: white;
}



/* 
https://colorhunt.co/palette/fff8cdffe05dff9642646464
#FFF8CD
#FFE05D
#FF9642
#646464

https://colorhunt.co/palette/171717444444da0037ededed
#171717
#444444
#DA0037
#EDEDED

// https://colorhunt.co/palette/f3eeeaebe3d5b0a695776b5d
#F3EEEA
#EBE3D5
#B0A695
#776B5D
*/